#wrapper{
width: 970px;
height: 1000px;
background-color:maroon;
display: block;
overflow:auto;
}
#header{
display: block;
background-color: gainsboro;
}
h1{
padding: 5px;    
display: inline-block;
}
h2{
text-align: right;
margin-left:420px;
display: inline-block;
}
